<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <h1>Angular Project</h1>
      </a>
    </div>
  </nav>
  <div class="container-fluid py-3">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row my-3">
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">user name</label>
          <input type="text" class="form-control form-control-sm" id="exampleFormControlInput1" formControlName="name" placeholder="jhon doe">
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">job title</label>
          <input type="text" class="form-control form-control-sm" id="exampleFormControlInput1" formControlName="job" placeholder="General manager">
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <button class="btn btn-sm btn-outline-primary" type="submit">{{ item ? 'Update' : 'Submit' }}</button>
        </div>
      </div>
    </form>
  </div>  